<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清除环境</title>
</head>
<body>
<form action="/fsp/cleanaction/" method="get">
			需要清除环境的IP: <input type="text"   name="ip1" value="192.168.7.105"><br><br>
			需要清除环境的IP: <input type="text"   name="ip2" value="192.168.7.106" ><br><br>
			需要清除环境的IP: <input type="text"   name="ip3" value="192.168.7.107"><br><br>
			需要清除环境的IP: <input type="text"   name="ip4" value="192.168.7.108"><br><br>
			需要清除环境的IP: <input type="text"   name="ip5" value="192.168.7.109"><br><br>
            <input type="submit" value="开始清除" />
</form>

</body>
</html>